@font-face {
  font-family: Barlow;
  src: url('./fonts/Barlow-Light.woff2'),
    url('./fonts/Barlow-Light.woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  src: url('./fonts/Barlow-Regular.woff2'),
    url('./fonts/Barlow-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  src: url('./fonts/Barlow-Medium.woff2'),
    url('./fonts/Barlow-Medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


:root{
  --background: #EFF6FF;
  --text: #2A4A5C;
  --facebook: #255A9B;
  --linkedin: #0076B6;
  --active-item: #3698FB;
  --text-secondary: #7B8A92;
  --text-bright: #EEEEEE;
  --secondary: #FFFFFF;
  --box-width: 450px;
  --box-height: 650px;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: var(--text);
}
fieldset{
  border: none;
  margin: 0;
  padding: 0;
}


.wrapper{
  overflow: hidden;
  background-color: rgb(239, 246, 255);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.between{
  display: flex;
  justify-content: space-between;
}

.title{
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.subtitle{
  font-size: 14px;
  color: var(--text-secondary);
}


.registration{
  display: flex;
  margin: auto;
}

.child-center{
  width: var(--box-width);
  height: var(--box-height);
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;

}

.scene{
  position: relative;
}
.scene__logo{
  width: 100px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.scene__picture{
  max-width: var(--box-width);
  height: var(--box-height);
}

.auth-section{
  width: 370px;
}

.info__subtitle{
  margin: 10px 0 25px 0;

}

.link{
  color: var(--secondary);
}

.register-section{
  display: flex;
  justify-content: space-between;
}

.register__box{
  width: 180px;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 10px;
  letter-spacing: -0.8px;
  word-spacing: 1px;
}
.facebook{
  background-color: var(--facebook);
}
.linkedin{
  background-color: var(--linkedin);
}
.register__img{
  width: 15px;
  margin-right: 8px;
}

.separator{
  display: flex;
  justify-content: center;
  
  position: relative;
}
.separator::after, .separator::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--text-bright);
  top: 50%;
  transform: translate(-50%, -50%);
}
.separator::after{
  left: 70%;
}
.separator::before{
  left: 30%;
}
.separator__text{
  text-transform: uppercase;
  font-weight: 600;
  margin:  30px 0;
  font-size: 12px;
  color: var(--text-secondary);
}

.user-info{
  display: flex;
  position: relative;
}
.user-info__input{
  width: 180px;
  height: 42px;
  padding: 20px 0px 10px 8px;
  font-size: 14px;
  outline: none;
  border: solid var(--text-bright) 1px;
  border-radius: 2px;
  transition: border-color .5s;
}

.user-info__input:active, .user-info__input:focus{
  border-radius: 2px;
  border-left: var(--active-item) 2px solid;
}

.user-info__label{
  position: absolute;
 font-size: 10px;
  left: 8px;
  top: 5px;
  color: var(--text-secondary);
}

.fieldset__title{
  margin: 30px 0 10px;
}

.fieldset__subtitle{
  margin: 0 0 20px 0;
}

.fieldset__list{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fieldset__item{
  margin-right: 10px;
}

.fieldset__btn{
  width: 12px;
  height: 12px;
  position: relative;
  top: -5px;
  background-color: transparent;
  border: none;
}
.fieldset__btn img{
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  visibility: visible;
}

.fieldset__label{
  display: inline-block;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-secondary);
  position: relative;
  
}

.hidden-input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.fieldset__ratio{
  padding-left:20px;
}

.fieldset__ratio_style{
  position: absolute;
  top: -3px;
  width: 16px;
  height: 16px;
  border-radius: 90px;
  border: 2px solid var(--text-bright);
  margin-left: -20px;
  transition: all 80ms;
}

.fieldset__ratio:checked + .fieldset__ratio_style{
  border-color: var(--active-item);
  border-width: 4px;
  box-shadow: none!important;
}

.fieldset__ratio:focus + .fieldset__ratio_style{
  box-shadow: 0 0 0 2px rgb(36, 36, 36);
}


.fieldset__description{
  width: 190px;
  padding: 8px;
  padding-right: 20px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.16), 0 1px 5px rgba(0,0,0,0.23);
  margin: 10px 8px 20px ;
  border-radius: 2px;
  font-size: 10px;
  color: var(--text-secondary);
}
.agree{
  font-size: 10px;
  display: flex;
  color: var(--text-secondary);
}
.agree__link{
  text-decoration: underline;
  color: var(--active-item);
}
.agree__label{
  position: relative;
  padding-left: 20px;
}

.agree__checkbox{
  padding: 20px;
}


.agree__checkbox_style{
  position: absolute;
  top: -3px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid var(--text-bright);
  margin-left: -20px;

}


.agree__checkbox:focus + .agree__checkbox_style{
  box-shadow: 0 0 0 2px rgb(36, 36, 36);
}

.agree__checkbox:checked + .agree__checkbox_style{
  background-image: url('./img/checked.svg');
  background-color: var(--active-item);
  border-color: var(--active-item);
  box-shadow: none!important;
}
.agree__checkbox:visited + .agree__checkbox_style{
  box-shadow: none!important;
}


.agree__checkbox{
  margin-right: 4px;
}



.form__button{
  margin-top: 30px;
  background-color: var(--active-item);
  font-size: 12px;
  font-weight: 500;
  padding: 8px 50px;
  color: var(--secondary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


@media screen and (max-width: 960px)  {
  .scene{
    display: none;
  }
 }

 @media screen and (max-width: 500px){

  .info{
    width: 365px;
  }

  .auth-section{
    padding: 50px 2px;
  }
 }